################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LoopingTutorial/.vs/LoopingTutorial
/.vs/TrainingProjects/v17
